:root {
    /* The main accent color and the matching text value */
    --adw-accent-bg-rgb: 172, 152, 205 !important;
    --adw-accent-fg-rgb: 51, 43, 59 !important;
    --adw-accent-rgb: 172, 152, 205 !important;

	/* destructive-action buttons */
    --adw-destructive-bg-rgb: 194, 163, 163 !important;
    --adw-destructive-fg-rgb: 204, 194, 179 !important;
    --adw-destructive-rgb: 194, 163, 163 !important;

	/* Levelbars, entries, labels and infobars. These don't need text colors */
    --adw-success-bg-rgb: 168, 189, 175 !important;
    --adw-success-fg-rgb: 51, 43, 59 !important;
    --adw-success-rgb: 168, 189, 175 !important;

    --adw-warning-bg-rgb: 205, 186, 152 !important;
    --adw-warning-fg-rgb: 51, 43, 59 !important;
    --adw-warning-fg-a: 0.8 !important;
    --adw-warning-rgb: 205, 186, 152 !important;

    --adw-error-bg-rgb: 194, 163, 163 !important;
    --adw-error-fg-rgb: 51, 43, 59 !important;
    --adw-error-rgb: 194, 163, 163 !important;

	/* Window */
    --adw-window-bg-rgb: 51, 43, 59 !important;
    --adw-window-fg-rgb: 204, 194, 179 !important;

	/* Views - e.g. text view or tree view */
    --adw-view-bg-rgb: 51, 43, 59 !important;
    --adw-view-fg-rgb: 204, 194, 179 !important;

	/* Header bar, search bar, tab bar */
    --adw-headerbar-bg-rgb: 51, 43, 59 !important;
    --adw-headerbar-fg-rgb: 204, 194, 179 !important;
    --adw-headerbar-border-rgb: 115, 101, 129 !important;
    --adw-headerbar-backdrop-rgb: 51, 43, 59 !important;
    --adw-headerbar-shade-rgb: 0, 0, 0 !important;
    --adw-headerbar-shade-a: 0.36 !important;
    --adw-headerbar-darker-shade-rgb: 0, 0, 0 !important;
    --adw-headerbar-darker-shade-a: 0.9 !important;

	/* Split pane views */
    --adw-sidebar-bg-rgb: 51, 43, 59 !important;
    --adw-sidebar-fg-rgb: 204, 194, 179 !important;
    --adw-sidebar-backdrop-rgb: 115, 101, 129 !important;
    --adw-sidebar-shade-rgb: 0, 0, 0 !important;
    --adw-sidebar-shade-a: 0.36 !important;
    --adw-secondary-sidebar-bg-rgb: 51, 43, 59 !important;
    --adw-secondary-sidebar-fg-rgb: 204, 194, 179 !important;
    --adw-secondary-sidebar-backdrop-rgb: 115, 101, 129 !important;
    --adw-secondary-sidebar-shade-rgb: 0, 0, 0 !important;
    --adw-secondary-sidebar-shade-a: 0.36 !important;

	/* Cards, boxed lists */
    --adw-card-bg-rgb: 255, 255, 255 !important;
    --adw-card-bg-a: 0.08 !important;
    --adw-card-fg-rgb: 255, 255, 255 !important;
    --adw-card-shade-rgb: 0, 0, 0 !important;
    --adw-card-shade-a: 0.36 !important;

	/* Dialogs */
    --adw-dialog-bg-rgb: 51, 43, 59 !important;
    --adw-dialog-fg-rgb: 204, 194, 179 !important;

    /* Popovers */
    --adw-popover-bg-rgb: 51, 43, 59 !important;
    --adw-popover-fg-rgb: 204, 194, 179 !important;
    --adw-popover-shade-rgb: 0, 0, 0 !important;
    --adw-popover-shade-a: 0.36 !important;

	/* Thumbnails */
    --adw-thumbnail-bg-rgb: 51, 43, 59 !important;

	/* Miscellaneous */
    --adw-shade-rgb: 0, 0, 0 !important;
    --adw-shade-a: 0.36 !important;
}
