    /**
    * @name Omarchy
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy system theme.
    * @source https://github.com/imbypass/base16-Discord
    **/

    /* import theme modules */
    @import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

    :root {
        --color00: #332B3B;
        --color01: #332B3B;
        --color02: #332B3B;
        --color03: #CCC2B3;
        --color04: #CCC2B3;
        --color05: #CCC2B3;
        --color06: #CCC2B3;
        --color07: #CCC2B3;
        --color08: #C2A3A3;
        --color09: #CDBA98;
        --color10: #CDBA98;
        --color11: #A8BDAF;
        --color12: #98CBCD;
        --color13: #AC98CD;
        --color14: #CD98C2;
        --color15: #CDBA98;
    }

