@define-color bg #332B3B;
@define-color fg #CCC2B3;
@define-color gray1 #A8BDAF;
@define-color gray2 #736581;
@define-color gray3 #AC98CD;
@define-color gray4 #CDBA98;
@define-color gray5 #CD98C2;
@define-color fg_bright #CCC2B3;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}