:root {
--color00: #332B3B;
--color01: #332B3B;
--color02: #332B3B;
--color03: #CCC2B3;
--color04: #CCC2B3;
--color05: #CCC2B3;
--color06: #CCC2B3;
--color07: #CCC2B3;
--color08: #C2A3A3;
--color09: #CDBA98;
--color0A: #CDBA98;
--color0B: #A8BDAF;
--color0C: #98CBCD;
--color0D: #AC98CD;
--color0E: #CD98C2;
--color0F: #C3A2A2;
}
